.content--career {

  padding: $spacing--side;

  h1 {
    font-size: $font--large;
    margin-bottom: 30px;
    width: 50%;
    display: inline-block;

  }

  h2 {
    color: $gray;
    font-size: $font--large;
    margin-bottom: 30px;
    width: 50%;
    display: inline-block;
  }

  h2 {
    font-size: $font--small;
    margin-bottom: 30px;
  }

  .basic--element {
    margin-bottom: 30px;
  }

}
